*{
    text-decoration: none;
}

h1{
    color: green;
}

body{
    display: flex;
}

h1{
    padding: 10px;
    margin: 10px;
}

#pag1 > a:nth-child(1) > h1{
    border: solid;
    border-radius: 25px;
    background-color: lightgreen;
}

#pag2 > a:nth-child(2) > h1{
    border: solid;
    border-radius: 25px;
    background-color: lightgreen;
}

#pag3 > a:nth-child(3) > h1{
    border: solid;
    border-radius: 25px;
    background-color: lightgreen;
}